nav {
  justify-content: end;
  display: flex;
  padding-top: 3.18rem; @media (max-width: 768px) {
         padding-top: 2rem;
      }
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-right: 4.5rem;
      @media (max-width: 768px) {
       font-size: .8rem;
       margin-right: 2rem;
      }

      a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s ease;
      }

      a:active,
      a:hover {
        color: #fce82f;
      }
    }
  }
}
section {
  padding-top: 5rem;
  @media (max-width: 768px) {
    padding-top: 2.5rem;
  }
}

main {
  position: relative;
  * {
    position: relative;
  }
  .logo_img {
    max-width: 14.125rem;
    // margin-bottom: 4.437rem;
  }
  .ruler_ctn {
    width: fit-content;
    border-left: 5px solid #fce82f;
    padding-left: 2.3rem;
    @media (max-width: 768px) {
      border-left: 3px solid #fce82f;
    }
    .experience_ctn {
      padding: 0.6rem 0rem;
      margin-bottom: 2.812rem;
      width: fit-content;
      @media (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
      h3 {
        font-size: 1.875rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
      h5 {
        font-size: 1.375rem;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
      p {
        font-weight: 1.25rem;
        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
      * {
        width: fit-content;
      }
    }
    .experience_ctn:last-child {
      margin-bottom: 0rem;
    }
  }
  .portfolio_section {
    ul {
      display: flex;
      overflow-x: auto;
      list-style-type: none;
      li {
        margin-right: 1rem;
        white-space: nowrap;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s ease;
        color: #fff;
        font-weight: 500;
        padding: 0.7rem 1.875rem;
        border-radius: 10px;
        background-color: transparent;
      }
      li:hover,
      li.active {
        background-color: #fff;
        color: #000;
      }
    }
  }
  .custom_btn {
    background: #fce82f;
    border-radius: 10px;
    width: 15.375rem;
    height: 4.375rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    @media (max-width: 768px) {
      width: 13.375rem;
      height: 3.375rem;
      font-size: 1.15rem;
    }
  }
  .custom_btn:hover {
    background: #ecd92d;
  }
  .faded_text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.894);
    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .section_title {
    width: fit-content;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.875rem;
    position: relative;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  .section_title::after {
    display: block;
    content: url(../assets/svgs/underline.svg);
    background-repeat: no-repeat;
    position: relative;

    top: -23px;

    width: 100%;

    z-index: 1;
    @media (max-width: 768px) {
      font-size: 0.9rem;
      top: -8px;
    }
  }
  .contact_link {
    text-decoration: none;
    color: #fff;
    justify-content: center;
    display: flex;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img {
      margin-bottom: 1rem;
      max-width: 40px;
    }
    * {
      width: fit-content;
      text-align: center;
    }
    h3 {
      font-weight: 700;
      font-size: 1.5rem;
    }
    text-align: center;
  }
  .hero_section {
    .hero_banner_ctn {
      margin-top: 3.3rem;
      width: 100%;
      @media (max-width: 768px) {
        text-align: center;
        img {
          height: 250px;
        }
      }
    }
    .hero_text {
      h3 {
        font-size: 2rem;
      }
    }
    .hero_img_alt {
      margin-top: -115%;
      @media (max-width: 768px) {
        margin-top: -95%;
      }
    }
    .social_links_ctn {
      display: flex;
      a {
        background: #fce82f;
        margin-right: 2rem;
        width: 3.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        height: 3.125rem;
      }
      a:hover {
        background: #ecd92d;
      }
    }
    h3 {
      font-size: 2.187rem;
      font-weight: 700;
    }
  }
}
input {
  color: #000;
  font-size: 1.2rem;
  width: 100%;
  height: 2.625rem;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
}
textarea {
  color: #000;
  font-size: 1.2rem;
  width: 100%;

  background-color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  min-height: 20rem;
}
